<form>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">質問タイトル</label>
    <input type="text" class="form-control" id="question_title">
  </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">質問内容</label>
    <textarea class="form-control" id="question_content" rows="10"></textarea>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlSelect2">カテゴリの選択</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">タグ</label>
    <input type="text" class="form-control" id="question_title">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>