<style>
.list-inline li {
  width: 30%;
}
.content{
	display: inline-block;
	margin:10px;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="question">
        <div class="page-header">
          <h1>質問のタイトル</h1>
        </div>
        <div class="pull-left">
        	<button type="button" class="btn btn-info">Good 
        	<span class="badge badge-light">1</span>
        	</button>
        </div>
        
        <div class="content">
        <p>
          質問の内容がここにくる
        </p>
        <p>-------------------------------------------------------------</p>
        <p>-------------------------------------------------------------</p>
        <p>--------------------------------------------------------------------------------</p>
        <button type="button" class="btn btn-secondary"><a href="#">tag名</a></button>
        <button type="button" class="btn btn-secondary"><a href="#">tag名2</a></button>
        </div>

      </div>
      <div class="post-ansewer">
      	<div class="form-group">
			    <label for="exampleFormControlTextarea1">（ログイン中の場合回答フォーム表示）</label>
			    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
			    <button type="submit" class="btn btn-primary mb-2">回答する</button>
			  </div>
      </div>
      <div class="answer">
          <h2>回答〇件</h2>
        <hr>
        <div class="pull-left">
        	<button type="button" class="btn btn-info">Good <span class="badge badge-light">0</span></button>
        </div>
        <div class="content">
	        <p>
	          回答の内容がここにくる
	        </p>
	        <p>-------------------------------------------------------------</p>
	        <p>-------------------------------------------------------------</p>
	        <p>--------------------------------------------------------------------------------</p>
        </div>
        <hr>
        <div class="pull-left">
        	<button type="button" class="btn btn-info">Good <span class="badge badge-light">0</span></button>
        </div>
        <div class="content">
	        <p>2つ目の回答の内容がここにくる</p>
	        <p>-------------------------------------------------------------</p>
	        <p>-------------------------------------------------------------</p>
	        <p>--------------------------------------------------------------------------------</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h2>人気の質問</h2>
        <ol>
						<li class="list-item">
							1位の質問
						</li>
						<li class="list-item">
							2位の質問
						</li>
						<li class="list-item">
							3位の質問
						</li>
						<li class="list-item">
							4位の質問
						</li>
						<li class="list-item">
							5位の質問
						</li>
						<li class="list-item">
							6位の質問
						</li>
						<li class="list-item">
							7位の質問
						</li>
						<li class="list-item">
							・・・
						</li>
			  </ol>
					
					<h2>タグから探す</h2>
					<ul class="list-inline">
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="ist-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
					</ul>
		</div>
  </div>
</div>