<style>
.list-inline li {
  width: 30%;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      
    </div>
    <div class="col-md-3">
      <h2>人気の質問</h2>
        <ol>
						<li class="list-item">
							1位の質問
						</li>
						<li class="list-item">
							2位の質問
						</li>
						<li class="list-item">
							3位の質問
						</li>
						<li class="list-item">
							4位の質問
						</li>
						<li class="list-item">
							5位の質問
						</li>
						<li class="list-item">
							6位の質問
						</li>
						<li class="list-item">
							7位の質問
						</li>
						<li class="list-item">
							・・・
						</li>
			  </ol>
					
					<h2>タグから探す</h2>
					<ul class="list-inline">
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="ist-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
					</ul>
		</div>
  </div>
</div>