<%= form_for(@questioner_response) do |f|%>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, :rows => "15", class: 'form-control' %>
  </div>
  
  <%= f.submit '返信する' %>
<% end %>