<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><%= link_to '質問一覧', questions_user_path%></li>
        <li><%= link_to '回答一覧', answers_user_path%></li></li>
        <li class="active">ユーザ情報の編集</li>
      </ul>
        <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Hanako</td>
                <td>Qiita</td>
                <td>@Hanaq</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Taro</td>
                <td>Qiita</td>
                <td>@TaroQ</td>
            </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>