<style>
.list-inline li {
  width: 30%;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>（カテゴリ名・タグ名を指定している場合それを表示）</h2>
      <ul class="list-inline">
        <li class="list-item list-inline-item"><button type="button" class="btn btn-secondary">新しい質問</button></li>
        <li class="list-item list-inline-item"><button type="button" class="btn btn-secondary">回答受付中</button></li>
        <li class="list-item list-inline-item"><button type="button" class="btn btn-secondary">アクティブな質問</button></li>
      </ul>
    <ul>
						<li class="list-item">
							質問タイトル
						</li>
						<li class="list-item">
							質問タイトル
						</li>
						<li class="list-item">
							質問タイトル
						</li>
						<li class="list-item">
							質問タイトル
						</li>
						<li class="list-item">
							質問タイトル
						</li>
						<li class="list-item">
							質問タイトル
						</li>
						<li class="list-item">
							質問タイトル
						</li>
						<li class="list-item">
							質問タイトル
						</li>
					</ul>
					<h2>カテゴリーから探す</h2>
					<ul class="list-inline">
						<li class="list-item list-inline-item">
							カテゴリー名
						</li>
						<li class="list-item list-inline-item">
							カテゴリー名
						</li>
						<li class="list-item list-inline-item">
							カテゴリー名
						</li>
						<li class="list-item list-inline-item">
							カテゴリー名
						</li>
						<li class="list-item list-inline-item">
							カテゴリー名
						</li>
						<li class="list-item list-inline-item">
							カテゴリー名
						</li>
					</ul>
    </div>
    <div class="col-md-3">
      <h2>人気の質問</h2>
        <ol>
						<li class="list-item">
							1位の質問
						</li>
						<li class="list-item">
							2位の質問
						</li>
						<li class="list-item">
							3位の質問
						</li>
						<li class="list-item">
							4位の質問
						</li>
						<li class="list-item">
							5位の質問
						</li>
						<li class="list-item">
							6位の質問
						</li>
						<li class="list-item">
							7位の質問
						</li>
						<li class="list-item">
							・・・
						</li>
			  </ol>
					
					<h2>タグから探す</h2>
					<ul class="list-inline">
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="ist-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
					</ul>
		</div>
  </div>
</div>