<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li><%= link_to '質問一覧', questions_user_path%></li>
      <li><%= link_to '回答一覧', answers_user_path%></li></li>
      <li><%= link_to  'ユーザ情報の編集', edit_user_path %></li>
    </ol>
</nav>